# macOS/Windows
.DS_Store
Thumbs.db

# Backend
backend/node_modules
backend/dist
backend/.env
backend/.env.*
backend/*.log
backend/coverage
backend/.turbo

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo

# OS
Thumbs.db
ehthumbs.db
Desktop.ini